#escola{
    width:100%;
    height:500px;
}
#atividades{
    border:2px dotted rgb(64, 117, 64);
}
#atividades p{
    margin:20px;
}
#instagram{
    background-color:rgb(166, 74, 228);
    color:rgb(218, 0, 120);
}
#link_instagram{
    color:rgb(174, 0, 255);
}